numpy
pandas
tqdm
python-dotenv
indic-transliteration

langchain
langchain-community
pypdf
pdfplumber
pymupdf
pytesseract
pdf2image
unstructured
beautifulsoup4
lxml
html2text
requests
opencv-python
langid

nltk
spacy
regex

transformers
accelerate
bitsandbytes
huggingface-hub
sentence-transformers
langchain-huggingface
Pillow
torch
scrapy
indic-nlp-library
sanskrit_parser
sanskrit_parser_base
